table{
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 25px;
}

.topicname {
    width: 200px;
    height: 25px;
    text-align: center;
}

.rowname {
    font-weight: bold;
    text-align: center;
}

.timeMorning{
    text-align: center;
    background-color: rgb(239, 239, 150);
}

.timeAfternoon {
    text-align: center;
    background-color: rgb(156, 238, 147);
}

.timeEvening {
    text-align: center;
    background-color: rgb(193, 149, 235);
}
